*, .fluid{
    background-color: lightblue;
}

.navigator{
    background-color: white;
    box-shadow: 0 1px 3px rgb(63, 28, 0);
    
}

.navbar, .text, .nav, .nav-, #logo, .logo-brand, .menu,.nav-item, .nav-link, .search{
    background-color: white;
}

.nav .logo-brand{
    
    font-family: Brush Script MT, cursive;
}

.nav-item{
    padding-right: 10px;
}

.nav-link{
    font-size: 18px;
    font-weight: bold;  
}

.nav-link:hover{
    background-color: rgb(255, 115, 0);
    transition: 0.4s ease;
    border-radius: 4px;
}

.nav-link.active{
    background-color: rgb(255, 115, 0);
}

.btn:hover{
    background-color: black;
    color: rgb(255, 115, 0);
}

.btn{
    background-color: rgb(255, 115, 0);
    font-size: 18px;
    font-weight: bold;
    color: white;
    border: 1px;
}

.ham{
    background-color: white;
}

.sp::placeholder{
    color: rgb(255, 115, 0);
}
